.Rproj.user
.Rhistory
.RData
responses_jitter/
responses_help/
responses_likert/
responses_freitext/
responses_qualdim2/
responses_fb_q1/
responses_fb_q2/
responses_fb_likert/
responses_fb_frei/
responses_fb_logout/
data/
rawdata_charge5/
rawdata_charge14/
rawdata_charge12a/
rawdata_frhe16.csv
rawdata_charge12a/freitextbilder
data/freitextbilder_questor1/
data/freitextbilder_questor2/
data/freitextbilder_questor3/
data/freitextbilder_questor4/
CopyOfserver.R
CopyOfui.R
